.app {
    display: grid;

}

.app__dark {
    display: grid;
    background-color: black;
}

.header__button {
    background-color: black !important;
    color: white !important;
    border: 1px solid black !important;


}

.DarkMode {
    background-color: white !important;
    color: black !important;
    border: 1px solid white !important;

}