.SignUp {
    height: 100vh;

}


.signUp__form {
    padding-top: 300px;
    padding-left: 700px;
    display: grid;
    width: 400px;
    
}
.signUp__form > input {
    background-color: #f8f8f8;
    border: none;
    outline-width: 0;
    height: 60px;
    margin: 10px;
    border-radius: 40px;
    padding:10px
}

.signUp__form > button {
    background-color: #E50914!important;
    color: White!important;
    width: 380px!important;
    margin-left: 10px!important;
    margin-top: 10px!important;
    border-radius: 40px!important;
}
.signUp__form > button:hover {
    color: #E50914!important;
    background-color: white!important;
}

